# Node dependencies
/node_modules/

# Next.js build output
/.next/
/out/

# Local build folders
/dist/
/.build/

# Prisma artifacts
/prisma/dev.db
/prisma/migrations/

# Environment variables
.env.local
.env.*.local
.env

# Next.js cache & telemetry
.next/
.next/cache/
/next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db

# TypeScript
*.tsbuildinfo

# Yarn v2+
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.cjs
.pnp.loader.mjs

# Turbopack (if you enabled it)
/.turbo/

# Coverage reports
coverage/
.vercel
